<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div
    *ngFor="let chat of chatService.chats" 
    [ngClass]="{'text-right': chatService.usuario.uid === chat.uid}"

    >
        <span
        [ngClass]="{'badge-primary': chatService.usuario.uid === chat.uid,
                    'badge-success': chatService.usuario.uid !== chat.uid}"
        >
            {{chat.nombre}}
        </span>
        <p>
            {{chat.mensaje}}
        </p>
    </div>

    <!-- <div class="text-right">
        <span class="badge badge-primary">
            Dany
        </span>
        <p>
            Este es un mensaje de chat
        </p>
    </div>

    <div>
        <span class="badge badge-success">
            Faty
        </span>
        <p>
            Hola Dany
        </p>
    </div>

    <div>
        <span class="badge badge-success">
            Faty
        </span>
        <p>
            Hola Dany
        </p>
    </div>

    <div>
        <span class="badge badge-success">
            Faty
        </span>
        <p>
            Hola Dany
        </p>
    </div>

    <div>
        <span class="badge badge-success">
            Faty
        </span>
        <p>
            Hola Dany
        </p>
    </div> -->

    

</div>

<input class="form-control mb-3" type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje"
    (keyup.enter)="enviarMensaje()">

